header,footer{
    background-color: #ffc145;
    color: #f26419;
    height: 250px;
    text-align: center;
    padding: 30px 10px 20px 10px;
}
.restaurantName{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
nav a{
    background-color: #f26419;
    color: white;
    padding 8px;
    text-decoration: none;
    display: block;
    margin: 10px 10px;
    width: 80px;
    float: none;
}
nav a:hover{
    background-color: white;
    color: #f26419;
}
nav a:active{
    font-weight:bold;
}
nav a:visited{
    color: #ffc145;
}
nav{
    background-color: #ffc145;
}